# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# developer specific settings and credentials
/local.properties

# ignore IDEA settings
.idea/
# but have a common checkstyle configuration
!.idea/checkstyle-idea.xml
*.iml
